# SPDX-FileCopyrightText: 2023 Masaru OKI
#
# SPDX-License-Identifier: Apache-2.0

instance-id: {{ host }}
local-hostname: {{ host }}
network:
  version: 2
  ethernets:
{%   for net in nets %}
    {{ eth_prefix }}{{ eth_start_num + loop.index - 1 }}:
      addresses:
{%     for address in addresses[net] %}
      - {{ address }}
{%     endfor %}
{%   endfor %}
{% endfor %}
